<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Medo</title>
  <link rel="stylesheet" href="/static/css/home.css">

</head>
<body>
<!-- partial:index.partial.html -->
<h1>This link needs updating... </h1>

<div class="btn-container2">
  <a href="https://t.me/LeoMedo" class="btn">My Telegram</a>
</div>

<div class="btn-container">
  <a href="https://paypal.me/LeoMeDoo?country.x=EG&locale.x=ar_EG" class="btn">Buy me coffee </a>
</div>

<div class="btn-container3">
  <a href="https://bestcash2020.com/gen_pass_main" class="btn">Support US</a>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>
